body {
    background-color: #FFD1DC; /* couleur de fond rose pastel */
    color: #C71585; /* couleur du texte rose vif */
    font-family: Arial, sans-serif;
}

header {
    background-color: #FFB6C1; /* couleur de fond rose clair */
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #FFC0CB; /* couleur de fond rose */
}

h1, h2 {
    color: #DB7093; /* couleur du texte rose pâle */
}

a {
    color: #C71585; /* couleur du lien rose vif */
}

ul {
    list-style-type: none;
}

iframe {
    width: 100%;
    height: 315px;
}
